<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="footer__container">

    {# Footer Top Section #}
    <div class="footer__top-section">
      <div class="row-fluid span12">

        {# Logo Column #}
        <div class="column span4">

          {# Logo #}
          <div class="footer__logo">
            {% module 'footer_logo'
              path='@hubspot/logo',
              img={
                'alt': 'Sprout logo',
                'height': '82',
                'src': get_asset_url('../../images/sprout-theme-logo.png'),
                'width': '205'
              }
            %}
          </div>
          {# End Logo #}

        </div>
        {# End Logo Column #}

      </div>
    </div>
    {# End Footer Top Section #}

    {# Footer Bottom Section #}
    <div class="footer__bottom-section">
      <div class="row-fluid span12">

        {# Copyright Column #}
        <div class="column span3">

          {# Copyright #}
          {% module 'footer_copyright'
            label='Copyright',
            path='@hubspot/text',
            value='Copyright © {{ year }}, {{ site_settings.company_name }}'
          %}
          {# End Copyright #}

        </div>
        {# End Copyright Column #}

      </div>
    </div>
    {# End Footer Bottom Section #}

  </div>
</footer>
